/**
 * RKAG Open Source organization
 * GitHub Page project presentation
 *
 * \author Sven Marc Gehring
 * \date 2015-03-10
 */

* {
    font-family: Tahoma, Arial;
    text-decoration: none;
}

a {
    text-decoration: none !important;
    color: #1874CD;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #104E8B;
    transition: color 0.3s ease-in-out;
}

img {
    max-width: 100%;
    border: 2px solid #ddd;
}

html { overflow-y: scroll; }

body {
    margin: 0;
    padding; 0;
    background: #fcfcfc;
}


header {
    width: 100%;
    margin: 0;
    padding: 14px 10%;
    background: #fff;
    border-bottom: 1px solid #ddd;
}

    header h1 {
        margin: 0;
        padding: 0;
        color: #999;
        font-size: 1.8em;
    }

    header .company-font {
        color: #004B93;
    }


#wrapper {
    width: 80%;
    margin: 0 10%;
}


#sidebar {
    margin: 0;
    padding: 20px 0;
}

    .panel {
        margin-top: 40px;
    }

    .panel-body {
        padding: 0;
        margin: 0;
    }

    .panel-link {
        padding: 9px 20px;
        margin: 0;
        background: #fcfcfc;
        border-bottom: 1px solid #ddd;
        transition: background 0.5s ease-in-out;
    }

    .panel-link: hover {
        background: #fcfcfc;
        transition: background 0.5s ease-in-out;
    }

    .panel-link:last-of-type {
        border-bottom: none;
    }


#content {
    padding-top: 60px;
}

    #content h1 {
        margin: 0 0 15px 0;
        padding: 0;
        border-bottom: 1px solid #ddd;
    }

    #content h3, h4 {
        margin-top: 50px;
    }

    #content p {
        text-align: justify;
    }


footer {
    width: 80%;
    margin: 40px 10% 50px 10%;
    padding: 8px 0 0 0;
    background: none;
    border-top: 1px solid #ddd;
}

    footer .copyright {
        width: 100%;
        text-align: right;
        display: inline-block;
        font-size: 0.8em;
        color: #999;
    }

